/* src/index.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.game-list {
  padding: 1rem;
}

.game-card {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
}

.game-card > div {
  flex: 1;
  text-align: center;
}

p {
  margin: 0.5rem 0;
}
