{% extends "base.html" %}

{% block title %}Project{% endblock %}

{% block content %}
    <div class="card">
        <h2>About the Project</h2>
        <h3>The Idea</h3>
        <img src="{{ url_for('static', filename='images/baseball.jpg') }}" alt="Baseball" style="width: 500px; height: 300px"/>
        <p>
            Baseball is a sport that is rooted in tradition. It is also a sport that has evolved tremendously since its inception into American Culture.
            Data Analytics has proven to me a massive tool in every level of baseball. More than any other sport in the world, the numbers don't lie on the 
            diamond. Billy Beane, the General Manager of the Oakland A's in 2001, saw this, and using the numbers and a smaller payroll than the rest of the
            MLB, created a model that is used throughout the league today. Inspired by this and a love for sports, we decided to use what we've learned over the
            last four years here at Wentworth to take that idea a little further. What if you could predict the result of a game using the data? How much truth is in
            the numbers? Using machine learning and advanced data gathering, we were able to find out.
        </p>
        <h3>The Algorithm</h3>
        <img src="{{ url_for('static', filename='images/linregmodel.png') }}" alt="Linear Regression Model" style="width: 600px; height: 400px"/>
        <p>
            Through extensive research and trial and error, we decided to utilize a linear regression model to base our predictions on. What is linear regression?
            Linear regression analysis is used to predict the value of a variable based on the value of another variable. The variable you want to predict is called
            the dependent variable. The variable you are using to predict the other variable's value is called the independent variable. In this instance, we gathered
            over ten years of baseball statistics to create an independent variable based on the home team's batting and pitching statistics before the game was played.
            The algorithm looks at this variable, generates a probability of victory for the home team, and then compares the result of the game to the prediction. The figure
            shown above illustrates the results of our linear regression model when tested against the full 2023 MLB schedule.
        </p>
        <h3>Training the Algorithm</h3>
        <img src="{{ url_for('static', filename='images/featureimportance.png') }}" alt="Feature Importance Chart" style="width: 600px; height: 400px"/>
        <p>
            In order for our algorithm to actually make predictions, we needed to train and test the algorithm with raw baseball data. We were able to obtain game-by-game
            logs from <a href="https://www.retrosheet.org/">Retro Sheet</a> and utilized ChatGPT to help us turn those logs into over 24,000 "pre-game reports". Using these
            reports, we were able to show the algorithm the results of the game, and each teams statistics before the game was played, so that it could learn what stats lead 
            to what results. We also utilized two other engineered statistics, the Bill James Pythagorean Win Percentage and the Log5 Win Probability Function, to help us
            make more accurate predictions. The figure above shows how important each statistic was in making predictions based on training and testing, showing the Log5 
            function showed the most promise in win predictions. 
        </p>
        <h3>Getting Our Data</h3>
        <img src="{{ url_for('static', filename='images/.jpg') }}" alt="Database Image"/>
        <p></p>
        <h3>Making Our Predictions</h3>
        <img src="{{ url_for('static', filename='images/.jpg') }}" alt="Predictions Image"/>
        <p></p>
        <h3>The Website You See Now</h3>
        <img src="{{ url_for('static', filename='images/.jpg') }}" alt="Website Image"/>
        <p></p>
    </div>
{% endblock %}