{% extends "base.html" %}

{% block title %}Project{% endblock %}

{% block content %}
    <div class="card">
        <h2>About the Project</h2>
        <h3>The Idea</h3>
        <img src="{{ url_for('static', filename='images/baseball.jpg') }}" alt="Baseball" style="width: 600px; height: 400px"/>
        <p></p>
        <h3>The Algorithm</h3>
        <img src="{{ url_for('static', filename='images/linregmodel.png') }}" alt="Linear Regression Model" style="width: 600px; height: 400px"/>
        <p></p>
        <h3>Training the Algorithm</h3>
        <img src="{{ url_for('static', filename='images/featureimportance.png') }}" alt="Feature Importance Chart" style="width: 600px; height: 400px"/>
        <p></p>
        <h3>Getting Our Data</h3>
        <img src="{{ url_for('static', filename='images/.jpg') }}" alt="Database Image"/>
        <p></p>
        <h3>Making Our Predictions</h3>
        <img src="{{ url_for('static', filename='images/.jpg') }}" alt="Predictions Image"/>
        <p></p>
        <h3>The Website You See Now</h3>
        <img src="{{ url_for('static', filename='images/.jpg') }}" alt="Website Image"/>
        <p></p>
    </div>
{% endblock %}